h1 {
  text-align: center;
  color: #fff;
}
h1 {
  animation: wiggle 2s linear infinite;
}

h2 {
  text-align: center;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
body {
  background-color: #000000;
}

#message {
  color: #ffffff;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
}


.borad {
  background-color: #000000;
  color: #ffffff;
  border: 6px solid #000000;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 470px;
  height: 470px;
  border-radius: 100px;
  margin: 0 auto;
  display: grid;
}

.circle {
  border: 6px solid #695896;
  border-radius: 50%;
  font-family: cursive;
  font-weight: bold;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}